name: test
on: push
jobs:
  hello:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: aws_config
      run: |
        mkdir -p ~/.aws
        cat << EOF > ~/.aws/config
        [profile github]
        role_arn = arn:aws:iam::404655101703:role/hamerkop-master-roles-github-G68CEKXIJ9AR
        credential_source = Environment
        EOF
    - name: stax_create
      env:
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cat ~/.aws/config
        echo $AWS_REGION
        ruby -v
        sudo gem install bundler --no-document
        bundle -v
        aws --version
        aws sts get-caller-identity
        cd ops
        bundle install
        bundle exec stax build generate
        echo ${{ github.repository }}
        echo ${{ github.sha }}
        echo ${{ github.ref }}
        echo ${{ github.head_ref }}
