name: test
on: push
jobs:
  hello:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: aws_cred
      run: |
        mkdir -p ~/.aws
        cat << EOF > ~/.aws/credentials
        [default]
        region = us-east-1
        aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        role_arn = arn:aws:iam::404655101703:role/github
        source_profile = default
        EOF
        chmod 0400 ~/.aws/credentials
    - name: stax_create
      run: |
        grep aws_access ~/.aws/credentials
        sudo gem install bundler --no-document
        aws --version
        aws sts get-caller-identity
        cd ops
        bundle install
        bundle exec stax build create
        rm -f ~/.aws/credentials
        # bundle exec stax build generate
        # echo ${{ github.repository }}
        # echo ${{ github.sha }}
        # echo ${{ github.ref }}
        # echo ${{ github.head_ref }}
