name: test
on: push
jobs:
  hello:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: aws_config
      run: |
        mkdir -p ~/.aws
        cat << EOF > ~/.aws/config
        [profile github]
        role_arn = arn:aws:iam::404655101703:role/github
        credential_source = Environment
        EOF
    - name: stax_create
      env:
        QUEUE: https://sqs.us-east-1.amazonaws.com/404655101703/hamerkop-master-cfncreate
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        grep aws_access ~/.aws/credentials
        sudo gem install bundler --no-document
        aws --version
        aws sts get-caller-identity --profile github
        cd ops
        bundle install
        bundle exec stax build skeleton > build.json
        aws sqs send-message --queue-url $QUEUE --message-body file://build.json --profile github
        rm -f build.json
        echo done
        # bundle exec stax build generate
        # echo ${{ github.repository }}
        # echo ${{ github.sha }}
        # echo ${{ github.ref }}
        # echo ${{ github.head_ref }}
