name: test
on: push
jobs:
  hello:
    name: HelloJob
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: stax
      env:
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      run: |
        echo $AWS_REGION
        ruby -v
        sudo gem install bundler --no-document
        bundle -v
        aws --version
        aws sts get-caller-identity
        cd ops
        bundle install
        bundle exec stax build generate
        echo ${{ github.repository }}
        echo ${{ github.sha }}
        echo ${{ github.ref }}
        echo ${{ github.head_ref }}
