name: test
on: push
jobs:
  hello:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: aws_config
      run: |
        mkdir -p ~/.aws
        cat << EOF > ~/.aws/config
        [profile github]
        role_arn = arn:aws:iam::404655101703:role/github
        credential_source = Environment
        EOF
    - name: stax_create
      env:b
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_PROFILE: github
      run: |
        sudo gem install bundler --no-document
        aws --version
        aws sts get-caller-identity --profile $AWS_PROFILE
        cd ops
        bundle install
        bundle exec stax ls -A
        # bundle exec stax build generate
        # echo ${{ github.repository }}
        # echo ${{ github.sha }}
        # echo ${{ github.ref }}
        # echo ${{ github.head_ref }}
